{% extends "layout.html" %}
{% set active_page = "vipps" %}
{% block body %}

<h2>Vipps import</h2>

<h3>Report #{{ report.id }} - {{ report.created_at }}</h3>

<form method="POST">

<table class="table table-striped">
  <thead>
    <tr>
      <th>Transaction ID</th>
      <th>Name</th>
      <th>NOK</th>
      <th>Message</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for entry in report.entries() %}
      <tr>
        <td>{{ entry.transaction.id }}</td>
        <td>{{ entry.transaction.first_name }} {{ entry.transaction.last_name }}</td>
        <td>{{ entry.transaction.amount }}</td>
        <td>{{ entry.transaction.message }}</td>
        <td>
          {% if entry.is_complete() %}
            {% for m in entry.memberships %}
            {% if loop.index > 1 %}, {% endif %}<span class="text-success">{{ m.name }}</span>
            {% endfor %}
          {% elif entry.accuracy > 0 %}
            <input type="hidden" name="transaction_id" value="{{ entry.transaction.id }}">
            <input type="hidden" name="term" value="{{ entry.term }}">
            <input type="text" name="name" value="{{ entry.name }}" class="form-control">
          {% else %}
            <span class="text-warning">Unable to detect payment type</span>
          {% endif %}
        </td>
        <td>
          {% if not entry.is_complete() and entry.accuracy > 0 %}
            <input type="checkbox" name="accepted_transaction_id"
              value="{{ entry.transaction.id }}"
              {{ 'checked' if entry.accuracy == 2 }}
            >
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<button class="btn btn-primary" name="state" value="resolved">Add members, mark as resolved</button>

<button class="btn btn-secondary" name="state" value="pending">Add members, mark as pending</button>

</form>

{% endblock %}


