/* Add styles here */
.rf-main {
    max-width:800px;
    padding: 0 2em;
}

.rf-form {
  max-width: 600px;
}

#membershipSearch {
    padding-right: 40px;
}

#resetTextField {
    margin-top:-27px;
    margin-right:10px;
}

.navbar-extra {
  display: flex;
  align-items: center;
}

.navbar-extra p {
  margin: 0;
  margin-right: 1em;
}

