<!DOCTYPE html>
<html>
<head>
  <title>RF members</title>
  {% assets output="assets/all.css",
      "vendor/bootstrap-3.3.4.min.css",
      "app.css"
  %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  {% assets output="assets/all.js", filters="rjsmin",
      "vendor/jquery-2.1.3.min.js",
      "app.js"
  %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

</head>
<body>
  {% set active_page = active_page|default('index') -%}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/">RF members</a>
      </div>

      {% if g.sess %}
      <div class="">
        <ul class="nav navbar-nav">
          {% if g.sess.can('memberships_new') %}
            <li{% if active_page == "add" %} class="active"{% endif %}>
              <a href="{{ url_for('memberships_new')}}">Add member</a>
            </li>
          {% endif %}
          {% if g.sess.can('memberships_list') %}
            <li{% if active_page == "list" %} class="active"{% endif %}>
              <a href="{{url_for('memberships_list')}}">List</a>
            </li>
          {% endif %}
          {% if g.sess.can('settlement') %}
            <li{% if active_page == "settle" %} class="active"{% endif %}>
              <a href="{{ url_for('memberships_settle') }}">Settlement</a>
            </li>
          {% endif %}
          {% if g.sess.can('reports') %}
            <li{% if active_page == "reports" %} class="active"{% endif %}>
              <a href="{{ url_for('reports') }}">Reports</a>
            </li>
          {% endif %}
          {% if g.sess.can('sessions_list') %}
            <li{% if active_page == "sessions" %} class="active"{% endif %}>
              <a href="#">Sessions</a>
            </li>
          {% endif %}
        </ul>
        {% if g.sess %}
        <form method="post" action="{{ url_for('sessions_destroy') }}" class="navbar-form navbar-right navbar-extra">
          <p>
            Logged in as <strong>{{ g.sess.user_name }}</strong>
            ({{ g.sess.level }} - {{ g.sess.description }})
          </p>
          <button class="btn btn-success">Log out</button>
        </form>
        {% endif %}
      </div><!-- /.navbar-collapse -->
      {% endif %}
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container rf-main">
    <div class="row">
      {% block body %}{% endblock %}
    </div>
  </div>
</body>
</html>
