{% extends "layout.html" %}
{% set active_page = "add" %}
{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}" role="alert">
  <p>{{ message }}</p>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<form action="{{url_for('memberships_create')}}" method="POST">
  <div class="form-group">
    <label for="membershipName">Name of member</label>
    <input type="text" autofocus="autofocus" class="form-control" id="membershipName" name="name" value="{{membership.name}}">
  </div>
  <div class="form-group">
    <label for="membershipPrice">Payment</label>
    <div class="radio">
        <label>
            <input type="radio" name="price" id="optionsRadio1" value="standard" {{ 'checked' if not membership.is_free() }}>
          50 (NOK)
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="price" id="optionsRadio1" value="free" {{ 'checked' if membership.is_free() }}>
          Redeemed (wrist bands, etc)
        </label>
    </div>
  </div>
  <div class="form-group">
    <label>Term</label>
    <select class="form-control">
      <option>V15</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary btn-lg active">Submit</button>
  <a href="{{url_for('memberships_list')}}" class="btn btn-default btn-lg active">Back</a>
</form>
<div id="existingMembers">
    <h2>Existing members</h2>
    <ul id="existingMembersList"></ul>
</div>
<div id="recentlyAddedMembers">
  <h2>Recently added</h2>
  <ul>
    {% for member in recently_added %}
      <li><strong>{{ member.name }}</strong> {{ member.created_at }}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
