{% extends "layout.html" %}
{% set active_page = "add" %}
{% block body %}
<div class="rf-form">
  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if g.sess.description == 'Friday pub' %}
    <div class="alert alert-info">
      <p>People born on <strong>{{ latest_born_date().strftime('%d.%m.%Y') }}</strong> or earlier are 18 years old or older.</p>
    </div>
  {% endif %}

  <div class="alert alert-warning">
    <p style="margin-bottom:0.5em">
      Hi <strong>{{ g.sess.user_name }}</strong>. You've been logged in for
      <strong data-started-at="{{ epoch(g.sess.created_at) }}"></strong>. Not you?</p>
    <form action="/sessions/switch" method="POST" class="form-inline">
      <div class="form-group">
        <input id="switch-name" type="text" name="name" class="form-control input-sm">
      </div>
      <button class="btn btn-sm btn-primary">Change name</button>
    </form>
  </div>

  <ul class="nav nav-tabs">
    <li {{ 'class="active"'|safe if membership.term == config.TERM }}><a href="?term={{config.TERM}}">{{config.TERM}}</a></li>
    <li {{ 'class="active"'|safe if membership.term == "Lifetime" }}><a href="?term=Lifetime">Lifetime (sølvkort)</a></li>
  </ul>
<form action="{{url_for('memberships_create')}}" method="POST" autocomplete="off">
  <input type="hidden" name="term" value="{{ membership.term }}">
  <div class="form-group">
    <label for="membershipName">Name of member</label>
    <input type="text" class="form-control" id="membershipName" name="name" value="{{membership.name or ''}}" autofocus autocomplete="off">
  </div>
  <div class="form-group">
    <label for="membershipPrice">Payment</label>
    <p style="font-size:2em"><strong>{{ membership.price }} NOK</strong></p>
  </div>
  <div class="form-group">
    <label for="membershipAccount">Account</label>
    <div class="radio">
      <label>
        <input type="radio" name="account" value="Entrance" {{ 'checked' if membership.account == "Entrance" }}> Entrance
      </label>
    </div>
    {% if membership.term == "Lifetime" and g.sess.is_atleast('Admin') %}
    <div class="radio">
      <label>
        <input type="radio" name="account" value="Lifetime" {{ 'checked' if membership.account == "Lifetime" }}> Lifetime
      </label>
    </div>
    {% endif %}
    {% if g.sess.can('wristband') and membership.term != "Lifetime" %}
    <div class="radio">
      <label>
        <input type="radio" name="account" value="Wristband" {{ 'checked' if membership.account == "Wristband" }}> Wristband (already paid)
      </label>
    </div>
    {% endif %}
  </div>
  {% if membership.term == "Lifetime" %}
    <div class="alert alert-info">
      <p><strong>NOTE:</strong> The member must contact Sekretær (sekretaer@rf.uio.no) directly in order to get a membership card (sølvkort).</p>
    </div>
  {% endif %}
  <button type="submit" class="btn btn-primary btn-lg active">Submit</button>
</form>
</div>
<div>
  <h2 id="memberships-search-header">Last memberships</h2>
  <div id="memberships-search-container">
    {% with memberships=last_memberships%}
      {% include "memberships/table.html" %}
    {% endwith %}
  </div>
</div>
{% endblock %}
